/* RESET */
* {
  font-family: var(--globalFontFamily);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --globalFontFamily: 'Roboto';

  --xlgFont: 48px;
  --lgFont: 36px;
  --mdFont: 24px;
  --smFont: 18px;

  --whiteish: #f9faf8;
  --lightGray: #e5e7eb;
  --darkish: #1f2937;
  --chevyBlue: #3882f6;

  --ninehoundred: 900;
}

.hero,
.header {
  padding: 0 25%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkish);
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.header-logo {
  font-size: var(--mdFont);
  color: var(--whiteish);
  font-weight: var(--ninehoundred);
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkish);
  color: var(--whiteish);
  padding-bottom: 4rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
}

.hero h1 {
  font-size: var(--xlgFont);
  font-weight: var(--ninehoundred);
  color: var(--whiteish);
  line-height: 1;
}

.hero p,
.header nav {
  font-size: var(--smFont);
  color: var(--lightGray);
}

nav {
  display: flex;
  gap: 0.5rem;
}

.hero img {
  width: 400px;
  aspect-ratio: 2/1;
  object-fit: cover;
}

button {
  background-color: var(--chevyBlue);
  color: var(--whiteish);
  padding: 0.2rem 1.2rem;
  border-radius: 0.3rem;
  border-style: solid;
  max-width: fit-content;
}

.primary-btn {
  border-color: var(--chevyBlue);
}

.secondary-btn {
  border-color: var(--whiteish);
}

.content {
  padding: 5rem 30%;
}

.content-card {
  width: min-content;
}

.content-card img {
  width: 135px;
  aspect-ratio: 1;
  object-fit: cover;
}

.content-1 {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content-1 h2 {
  margin-bottom: 2rem;
  font-size: var(--lgFont);
  font-weight: var(--ninehoundred);
  color: var(--darkish);
}

.content-1 img {
  border-radius: 1rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.content-2 {
  display: flex;
  flex-direction: column;
  background-color: var(--lightGray);
}

.content-2 p:first-child {
  font-size: var(--lgFont);
  color: var(--darkish);
  font-weight: 200;
  font-style: italic;
}

.content-2 p:last-child {
  font-weight: var(--ninehoundred);
  align-self: flex-end;
}

.content-3 {
  padding: 1.5rem 5em;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--chevyBlue);
  color: var(--whiteish);
}

.content-3 p {
  color: var(--lightGray);
}

.content-last {
  padding-right: 25%;
  padding-left: 25%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkish);
  color: var(--whiteish);
  padding: 2rem 0;
  font-size: var(--smFont);
}
