/* RESET */
* {
  font-family: var(--globalFontFamily);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --globalFontFamily: 'Roboto';

  --xlgFont: 48px;
  --lgFont: 36px;
  --mdFont: 24px;
  --smFont: 18px;

  --whiteish: #f9faf8;
  --lightGray: #e5e7eb;
  --darkish: #1f2937;
  --chevyBlue: #3882f6;

  --ninehoundred: 900;
}

.hero,
.header {
  padding: 0 25%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkish);
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.header-logo {
  font-size: var(--mdFont);
  color: var(--whiteish);
  font-weight: var(--ninehoundred);
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkish);
  color: var(--whiteish);
  padding-bottom: 4rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
}

.hero h1 {
  font-size: var(--xlgFont);
  font-weight: var(--ninehoundred);
  color: var(--whiteish);
  line-height: 1;
}

.hero p,
.header nav {
  font-size: var(--smFont);
  color: var(--lightGray);
}

nav {
  display: flex;
  gap: 0.5rem;
}

.hero img {
  width: 400px;
  aspect-ratio: 2/1;
  object-fit: cover;
}

button {
  background-color: var(--chevyBlue);
  color: var(--whiteish);
  padding: 0.2rem 1.2rem;
  border-radius: 0.3rem;
  border-style: solid;
  max-width: fit-content;
}

.primary-btn {
  border-color: var(--chevyBlue);
}

.secondary-btn {
  border-color: var(--whiteish);
}

.header-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    background-color: #3882f6;
    border: 1px solid  #3882f6;
    border-radius: 0.5rem;
    padding: 0.3rem;
    max-width: 70px;
    color: white;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-info {
    display: flex;
    text-align: center;

}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkish);
  color: var(--whiteish);
  padding: 2rem 0;
  font-size: var(--smFont);
}
